<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>Controller.EmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>Controller.ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotController</servlet-name>
        <servlet-class>Controller.forgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>Controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>Controller.AdminTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControll</servlet-name>
        <servlet-class>Controller.LogoutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteallCart</servlet-name>
        <servlet-class>Controller.DeleteallCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopControll</servlet-name>
        <servlet-class>Controller.ShopControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFilterControll</servlet-name>
        <servlet-class>Controller.CategoryFilterControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControll</servlet-name>
        <servlet-class>Controller.SearchControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControll</servlet-name>
        <servlet-class>Controller.DetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControll</servlet-name>
        <servlet-class>Controller.CartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCartControll</servlet-name>
        <servlet-class>Controller.showCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControll</servlet-name>
        <servlet-class>Controller.DeleteCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityCartControll</servlet-name>
        <servlet-class>Controller.UpdateQuantityCartControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControll</servlet-name>
        <servlet-class>Controller.CheckoutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>Controller.UserDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/EmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/ConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotController</servlet-name>
        <url-pattern>/forgotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControll</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFilterControll</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControll</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControll</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControll</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCartControll</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControll</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityCartControll</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControll</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControll</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/updateGoesBrrr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteallCart</servlet-name>
        <url-pattern>/delete-cart-all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/UserDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
